In [1]:
# install meteostat library
!pip install meteostat

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting meteostat
  Downloading meteostat-1.6.5-py3-none-any.whl (31 kB)
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from meteostat) (2022.7.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from meteostat) (1.22.4)
Requirement already satisfied: pandas>=1.1 in /usr/local/lib/python3.8/dist-packages (from meteostat) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.1->meteostat) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1->meteostat) (1.15.0)
Installing collected packages: meteostat
Successfully installed meteostat-1.6.5

In [2]:
# Import required libraries
import pandas as pd
from datetime import datetime
from meteostat import Hourly, Point 
from google.colab import files

In [3]:
# Load weather data
url = 'https://drive.google.com/file/d/1qd4EMFjFShK-11yhdkJ3CI69IwL61L8i/view?usp=share_link' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
belgium_cities = pd.read_csv(path)

In [4]:
# Filter Belgium cities
belgium_cities = belgium_cities.loc[belgium_cities['country'] == 'Belgium']
belgium_cities

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
421,Brussels,Brussels,50.8353,4.3314,Belgium,BE,BEL,Brussels-Capital Region,primary,1743000.0,1056469830
1338,Antwerp,Antwerp,51.2211,4.3997,Belgium,BE,BEL,Flanders,minor,529247.0,1056168623
2298,Gent,Gent,51.0536,3.7253,Belgium,BE,BEL,Flanders,minor,262219.0,1056062897
2804,Charleroi,Charleroi,50.4167,4.4442,Belgium,BE,BEL,Wallonia,minor,201816.0,1056263311
2859,Liège,Liege,50.6397,5.5706,Belgium,BE,BEL,Wallonia,minor,196623.0,1056513284
...,...,...,...,...,...,...,...,...,...,...,...
41530,Chiny,Chiny,49.7383,5.3433,Belgium,BE,BEL,Wallonia,NaN,5175.0,1056542075
41579,Libin,Libin,49.9828,5.2578,Belgium,BE,BEL,Wallonia,NaN,5164.0,1056311682
41630,Ohey,Ohey,50.4353,5.1217,Belgium,BE,BEL,Wallonia,NaN,5090.0,1056175337
41632,Havelange,Havelange,50.3833,5.2500,Belgium,BE,BEL,Wallonia,NaN,5130.0,1056076488
41704,Alveringem,Alveringem,51.0111,2.7108,Belgium,BE,BEL,Flanders,NaN,5089.0,1056520266

In [5]:
# Create a list of all Belgium cities and display first 10 cities
list_of_cities = list(belgium_cities['city'])
list_of_cities[0:10]

['Brussels',
 'Antwerp',
 'Gent',
 'Charleroi',
 'Liège',
 'Anderlecht',
 'Bruges',
 'Namur',
 'Moortebeek',
 'Leuven']

In [6]:
# Create a dictionary of all cities with their latitudes and longitudes
var_dict = {}
for i in range(belgium_cities.shape[0]): 
    var_dict[i + 1] = list(belgium_cities[['city', 'lat', 'lng']].iloc[i])
# Display the second city's data from the dictionary
var_dict[2]

['Antwerp', 51.2211, 4.3997]

In [7]:
var_dict[1][0]

'Brussels'

In [8]:
# Set time period for getting the data from the meteostat library
start = datetime(2020, 1, 1)
end = datetime(2023, 1, 1, 23, 59)

# Get hourly weather data for the first city in the dictionary using the Hourly object of the meteostat library
df_1 = Hourly(Point(var_dict[1][1], var_dict[1][2]), start, end)
df_1 = df_1.fetch()
# Add city name column to the dataframe
df_1['city'] = var_dict[1][0]
df_1

Warning: Cannot load hourly/2020/06448.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2021/06448.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2022/06448.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2023/06448.csv.gz from https://bulk.meteostat.net/v2/

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,city
time,,,,,,,,,,,,
2020-01-01 00:00:00,3.2,2.8,97.0,NaN,NaN,110.0,7.2,14.8,1033.3,NaN,5.0,Brussels
2020-01-01 01:00:00,3.1,2.5,96.0,NaN,NaN,90.0,3.6,11.1,1034.0,NaN,5.0,Brussels
2020-01-01 02:00:00,3.3,2.6,95.0,NaN,NaN,100.0,7.2,11.1,1033.4,NaN,4.0,Brussels
2020-01-01 03:00:00,3.0,2.1,94.0,NaN,NaN,110.0,3.6,9.3,1032.8,NaN,5.0,Brussels
2020-01-01 04:00:00,2.1,1.7,97.0,NaN,NaN,140.0,3.6,9.3,1032.5,NaN,5.0,Brussels
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,10.6,10.0,96.0,0.9,NaN,170.0,21.6,27.8,1013.0,NaN,8.0,Brussels
2023-01-01 20:00:00,10.6,9.8,95.0,1.3,NaN,150.0,21.6,27.8,1011.7,NaN,9.0,Brussels
2023-01-01 21:00:00,11.4,10.3,93.0,0.5,NaN,190.0,14.4,29.6,1011.6,NaN,8.0,Brussels
2023-01-01 22:00:00,11.6,10.3,92.0,0.1,NaN,180.0,18.0,33.3,1011.1,NaN,7.0,Brussels
2023-01-01 23:00:00,12.6,10.7,88.0,0.1,NaN,190.0,21.6,35.2,1010.8,NaN,7.0,Brussels

In [9]:
# Add time column to the dataframe
df_1['time'] = df_1.index
df_1

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,city,time
time,,,,,,,,,,,,,
2020-01-01 00:00:00,3.2,2.8,97.0,NaN,NaN,110.0,7.2,14.8,1033.3,NaN,5.0,Brussels,2020-01-01 00:00:00
2020-01-01 01:00:00,3.1,2.5,96.0,NaN,NaN,90.0,3.6,11.1,1034.0,NaN,5.0,Brussels,2020-01-01 01:00:00
2020-01-01 02:00:00,3.3,2.6,95.0,NaN,NaN,100.0,7.2,11.1,1033.4,NaN,4.0,Brussels,2020-01-01 02:00:00
2020-01-01 03:00:00,3.0,2.1,94.0,NaN,NaN,110.0,3.6,9.3,1032.8,NaN,5.0,Brussels,2020-01-01 03:00:00
2020-01-01 04:00:00,2.1,1.7,97.0,NaN,NaN,140.0,3.6,9.3,1032.5,NaN,5.0,Brussels,2020-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,10.6,10.0,96.0,0.9,NaN,170.0,21.6,27.8,1013.0,NaN,8.0,Brussels,2023-01-01 19:00:00
2023-01-01 20:00:00,10.6,9.8,95.0,1.3,NaN,150.0,21.6,27.8,1011.7,NaN,9.0,Brussels,2023-01-01 20:00:00
2023-01-01 21:00:00,11.4,10.3,93.0,0.5,NaN,190.0,14.4,29.6,1011.6,NaN,8.0,Brussels,2023-01-01 21:00:00
2023-01-01 22:00:00,11.6,10.3,92.0,0.1,NaN,180.0,18.0,33.3,1011.1,NaN,7.0,Brussels,2023-01-01 22:00:00
2023-01-01 23:00:00,12.6,10.7,88.0,0.1,NaN,190.0,21.6,35.2,1010.8,NaN,7.0,Brussels,2023-01-01 23:00:00

In [10]:
# Get hourly weather data for the i-th city in the dictionary (i = 1)
i=1
df_temp = Hourly(Point(var_dict[i][1], var_dict[i][2]), start, end)
df_temp

In [11]:
# Create an empty dataframe to store weather data for all cities
df = pd.DataFrame()
# Loop through all cities in the dictionary and append their weather data to the dataframe
for i in range(1, len(var_dict)):
    df_temp = pd.DataFrame() 
    df_temp = Hourly(Point(var_dict[i][1], var_dict[i][2]), start, end)
    df_temp = df_temp.fetch()
    df_temp['city'] = var_dict[i][0]
    df_temp['time'] = df_temp.index
    df_1 = df_1.append(df_temp, ignore_index=True)

Warning: Cannot load hourly/2020/06452.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2021/06452.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2022/06452.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2023/06452.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2020/06470.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2021/06470.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2022/06470.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2023/06470.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2020/06481.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2021/06481.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2022/06481.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2023/06481.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2020/06463.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2021/06463.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2022/06463.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2023/06463.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2020/06462.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2021/06462.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2022/06462.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2023/06462.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2020/99870.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2021/99870.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2022/99870.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2023/99870.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2020/06467.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2021/06467.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2022/06467.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2023/06467.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2020/10503.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2021/10503.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2022/10503.csv.gz from https://bulk.meteostat.net/v2/
Warning: Cannot load hourly/2023/10503.csv.gz from https://bulk.meteostat.net/v2/

In [12]:
df_1

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,city,time
0,3.2,2.8,97.0,NaN,NaN,110.0,7.2,14.8,1033.3,NaN,5.0,Brussels,2020-01-01 00:00:00
1,3.1,2.5,96.0,NaN,NaN,90.0,3.6,11.1,1034.0,NaN,5.0,Brussels,2020-01-01 01:00:00
2,3.3,2.6,95.0,NaN,NaN,100.0,7.2,11.1,1033.4,NaN,4.0,Brussels,2020-01-01 02:00:00
3,3.0,2.1,94.0,NaN,NaN,110.0,3.6,9.3,1032.8,NaN,5.0,Brussels,2020-01-01 03:00:00
4,2.1,1.7,97.0,NaN,NaN,140.0,3.6,9.3,1032.5,NaN,5.0,Brussels,2020-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12321050,10.1,8.4,89.0,0.0,NaN,160.0,10.8,35.2,1015.6,NaN,3.0,Havelange,2023-01-01 19:00:00
12321051,11.6,9.0,84.0,0.0,NaN,180.0,18.0,35.2,1014.7,NaN,3.0,Havelange,2023-01-01 20:00:00
12321052,12.2,7.9,75.0,0.0,NaN,180.0,21.6,38.9,1014.5,NaN,3.0,Havelange,2023-01-01 21:00:00
12321053,12.4,7.7,73.0,0.0,NaN,190.0,18.0,38.9,1014.4,NaN,3.0,Havelange,2023-01-01 22:00:00
12321054,13.2,7.4,68.0,0.0,NaN,190.0,28.8,40.8,1014.6,NaN,3.0,Havelange,2023-01-01 23:00:00

In [13]:
df_1 = df_1.set_index(['city', 'time'])

In [14]:
df_1

                               temp  dwpt  rhum  prcp  snow   wdir  wspd  \
city      time
Brussels  2020-01-01 00:00:00   3.2   2.8  97.0   NaN   NaN  110.0   7.2
          2020-01-01 01:00:00   3.1   2.5  96.0   NaN   NaN   90.0   3.6
          2020-01-01 02:00:00   3.3   2.6  95.0   NaN   NaN  100.0   7.2
          2020-01-01 03:00:00   3.0   2.1  94.0   NaN   NaN  110.0   3.6
          2020-01-01 04:00:00   2.1   1.7  97.0   NaN   NaN  140.0   3.6
...                             ...   ...   ...   ...   ...    ...   ...
Havelange 2023-01-01 19:00:00  10.1   8.4  89.0   0.0   NaN  160.0  10.8
          2023-01-01 20:00:00  11.6   9.0  84.0   0.0   NaN  180.0  18.0
          2023-01-01 21:00:00  12.2   7.9  75.0   0.0   NaN  180.0  21.6
          2023-01-01 22:00:00  12.4   7.7  73.0   0.0   NaN  190.0  18.0
          2023-01-01 23:00:00  13.2   7.4  68.0   0.0   NaN  190.0  28.8

                               wpgt    pres  tsun  coco
city      time
Brussels  2020-01-01 00:00:00  14.8  1033.3   NaN   5.0
          2020-01-01 01:00:00  11.1  1034.0   NaN   5.0
          2020-01-01 02:00:00  11.1  1033.4   NaN   4.0
          2020-01-01 03:00:00   9.3  1032.8   NaN   5.0
          2020-01-01 04:00:00   9.3  1032.5   NaN   5.0
...                             ...     ...   ...   ...
Havelange 2023-01-01 19:00:00  35.2  1015.6   NaN   3.0
          2023-01-01 20:00:00  35.2  1014.7   NaN   3.0
          2023-01-01 21:00:00  38.9  1014.5   NaN   3.0
          2023-01-01 22:00:00  38.9  1014.4   NaN   3.0
          2023-01-01 23:00:00  40.8  1014.6   NaN   3.0

[12321055 rows x 11 columns]